.game-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding-inline: 20px;
}
