header {
  background-color: var(--bg-header);
  border: 1px solid var(--br-header);
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: Inter;
  color: var(--font-color-def);
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
}
